@charset "uft-8";

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$main-color: #fda2a2;
$white-color: #fff;
$black-color: #000;
$common-font: 'BMJUA';

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
}

/* body */
body {
  margin: 0;
  padding: 0;
  font-family: $common-font;
}

.open {
  display: block;
}

#chat {
  @include flex(column, center, center);
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 80px 20px 20px;
  background-color: #fff;
}

.btn {
  @include flex(column, center, center);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.3em;
  font-weight: 600;
  color: $main-color;
  border-radius: 100%;
  border: 3px dashed $main-color;
  background-color: transparent;
  cursor: pointer;
}
.chatMsg {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 50px;
  font-size: 1.3em;
  text-align: center;
  border-radius: 50px;
  border: 3px dashed $main-color;
}

.imgbox {
  width: 80%;
  margin-bottom: 30px;
}
.imgbox img {
  width: 100%;
}

form {
  @include flex(column, center, center);
  width: 100%;
  border-radius: 10px;
  border: 2px solid $main-color;
  overflow: hidden;
}

form input[type='text'] {
  width: 100%;
  padding: 20px;
  font-size: 0.8em;
  text-align: center;
  border: none;
  outline: none;
}

form input[type='submit'] {
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  font-family: $common-font;
  color: #fff;
  border: none;
  background-color: $main-color;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    height: 100vh;
    place-items: center;
    overflow: hidden;
  }
  .modal {
    position: absolute;
    top: 50%;
    right: -450px;
    width: 450px;
    height: 500px;
    padding: 60px 30px;
    background-color: #fff;
    transform: translateY(-50%);
    transition: right 1s;

    .text {
      @include flex(column, center, space-between);
      width: 100%;
      height: 100%;

      h2 {
        margin: 0;
        font-size: 1.3em;
        font-weight: 400;
        text-align: center;
      }
      ul {
        width: 100%;
        height: 90%;
        padding: 20px 30px;
        border-radius: 30px;
        border: 3px solid $main-color;
      }
      li {
        margin-bottom: 15px;
        font-size: 1.2em;
        line-height: 1.2em;
        list-style: none;
      }
      li:before {
        content: '📌';
        margin-right: 10px;
      }
    }
  }
  .open {
    right: 0px;
    transition: right 1s;
  }

  #chat {
    max-width: 550px;
    height: auto;
    padding: 50px;
    border-radius: 30px;
  }

  .chatMsg {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .imgbox {
    width: 70%;
    height: 330px;
  }

  form {
    width: 100%;
  }

  form input[type='text'] {
    font-size: 1em;
  }

  form input[type='submit'] {
    font-size: 1.3em;
  }
}
